header {
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 10px;
	padding-bottom: 10px;
	background-color: #f9c503;
}

header h1 {
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

header h3 {
	font-family: "Roboto", sans-serif;
}



/* Cards */


.card {
	border: 1px solid #e7e7e7;
}

.card img {
	height: 300px;
	width: 100%;
}


